{% extends 'auth_app/base.html' %}

{% block title %}Каталог книг{% endblock %}

{% block content %}
  <h1>Каталог книг</h1>
   
  {% if books %}
    <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">
            <strong>Книга:</strong> {{ book.title }} 
            <button class="btn btn-outline-secondary btn-sm copy-button" data-title="{{ book.title }}">Копировать</button><br>
            <strong>Автор:</strong> {{ book.author }}<br>
            <strong>Жанр:</strong> {{ book.genre }}
            {% if user.librarian.employee_number %}
                <a href="{% url 'debtors_list' %}" class="btn btn-secondary btn-sm">Список должников</a>
            {% else %}
                <a href="{% url 'borrow_book' book.id %}" class="btn btn-primary btn-sm">Взять книгу</a>
            {% endif %}
            
        </li>
        {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning">{{ message }}</div>
  {% endif %}
{% endblock %}