{# catalog/debtors_list.html #}
{% extends 'auth_app/base.html' %}

{% block title %}Список должников{% endblock %}

{% block content %}
  <h1>Список должников</h1>
  
  {% if debtors %}
    <ul class="list-group">
      {% for item in debtors %}
        <li class="list-group-item">
          <strong>Книга:</strong> {{ item.book.title }}<br>
          <strong>Автор:</strong> {{ item.book.author }}<br>
          <strong>Жанр:</strong> {{ item.book.genre }}<br>
          <strong>Читатель:</strong> {{ item.reader.first_name }} {{ item.reader.last_name }}<br>
          <strong>Адрес:</strong> {{ item.reader.address }}<br>
          <strong>Дата займа:</strong> {{ item.borrow_date }}<br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет должников.</p>
  {% endif %}
{% endblock %}