{% extends 'auth_app/base.html' %}

{% block title %}Мои книги{% endblock %}

{% block content %}
  <h1>Мои книги</h1>
  
  {% if books %}
    <ul class="list-group">
        {% for item in books %}
            <li class="list-group-item">
                {{ item.book.title }} - {{ item.book.author }} (Жанр: {{ item.book.genre }}, Дата займа: {{ item.borrow_date }})
                <a href="{% url 'return_book' item.book.id %}" class="btn btn-danger btn-sm">Вернуть книгу</a>
            </li>
        {% endfor %}
    </ul>
  {% else %}
    <p>У вас нет взятых книг.</p>
  {% endif %}
{% endblock %}